
.opcao {
    color: black;
    transition: all ease-in 0.1s;
}

.opcao:hover {
    color: rgb(82, 82, 82);
}

#login {
    font-size: 1.8rem;
    font-weight: bold;
    color: #01a1fd;
    transition: all ease-in 0.1s;
}

#login:hover {
    color: #53c0ff;
}

.fa-user {
    padding-left: 2rem;
}

.menu ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    font-size: 1.3rem;
    margin: 3.5rem;
}

main {
    height: 90vh;
    background-image: url(../img/transferir.gif);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}



