header {
    display: flex;
    width: 100%;
    height: 5vw;
    justify-content: space-between;
    align-items: center;
    padding-inline: 4vw;
}

header i{
    font-size: 1.6vw;
}

.menu ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3vw;
    font-size: 1.3rem;
    margin: 3.5rem;
}

.opcao{
    color: black;
    transition: all ease-in 0.1s;
}

.opcao:hover {
    color: rgb(82, 82, 82);
}

.entrar {
    font-weight: 700;
    font-size: 2.5vh;
    color: #01A1FD;
}

.entrar:hover {
    color: #49bcff;
}

.img {
    display: flex;
    width: 20%;
}