#conteudo{
    display: flex;
    overflow-y: hidden;
}

#ladoEsquerdo{
    height: 100vh;
}

#ladoDireito{
    display: flex;
}

#ladoDireitoSemLogo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 40vw;
}

.campo{
    display: flex;
    flex-direction: column;
}

.campo input{
    width: 30vw;
    height: 5vh;
    padding: 0.8vw;
    font-size: 0.8vw;
}

#img{
    width: 4vw;
    margin: 2vw;
}
