body {
    overflow: auto;
}

.conteudo {
    display: flex;
    background-color: #ffffff6b;
    justify-content: space-around;
    align-items: center;
    border-radius: 3rem;
    width: 90vw;
    height: 75vh;
}

.botaoSalvar {
    width: 9vw;
    height: 6vh;
    background-color: #2a5587;
    font-size: 1vw;
    font-weight: bold;
    margin-top: 3vh;
    border: 0;
    border-radius: 0.5vw;
    color: #fff;
    font-size: 1.2vw;
    transition:
    transform 0.3s ease,
    box-shadow 0.2s ease;
}

.botaoSalvar:hover {
    pointer-events: auto;
    transform: translateY(-0.5vh);
    box-shadow: 0vh 0.5vh 0.5vh #0c223bcb;
    cursor: pointer;
}

main {
    height: 90vh;
    background-image: url(../img/star-wars-2046374_1920\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#titleI {
    font-size: 3vw;
    color: #2a5587;
}
