@font-face {
    font-family: Porto-Font;
    src: url(./font/PortoRoobert-Medium.otf),
    url(./font/PortoRoobert-SemiBold.otf),
    url(./font/PortoRoobert-Bold.otf);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Porto-Font;
}

ul, li, a{
    list-style: none;
    text-decoration: none;
}

:root {
    --primary-color: #9DCCFD;
    --button-color: #01A1FD;
}

