.container {
    background-color: #ffffff6b;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 3rem;
    width: 90vw;
    height: 75vh;
    align-items: center;
}

.box1 {
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2.5rem;
}

.box2 {
    width: 47vw;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10rem;
}

#tituloResumo {
    font-size: 3rem;
}

#txtResumo {
    font-size: 1.25rem;
    padding-top: 0.8rem;
    padding-bottom: 1.4rem;
    color: #1e272fe1;
}

#conteudo {
    display: flex;
    justify-content: space-around;
}

#cadastro {
    background-color: var(--button-color);
    width: 25vw;
    height: 8vh;
    border-radius: 1.1rem;
    font-size: 1.4vw;
    font-weight: 600;
    color: #fff;
    text-align: center;
    border: 0;
    transition:
        transform 0.3s ease,
        box-shadow 0.2s ease;
}

#cadastro:hover {
    pointer-events: auto;
    transform: translateY(-0.5vh);
    box-shadow: 0vh 0.5vh 0.5vh #90c1f2;
    cursor: pointer;
}

.imgMulherBot {
    display: flex;
    width: 100%;
}

main {
    height: 90vh;
    background-image: url(../img/rodovia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.decoretion {
    display: grid;
    flex-direction: column;
    background-color: #90c1f2;
}

@media (max-width: 1024px) {
    .box2 {
        width: 47vw;
        text-align: right;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        align-items: center;
        padding: 2rem;
    }
    .siganos {
        display: grid;
        padding: 15px;
        flex-direction: row;
        gap: 10px;
    }
    /* .img {
        display: flex;
        width: 40%;
    } */
}

@media (max-width: 780px) {
    .imgMulherBot {
        display: none;
    }
    .box1 {
        display: none;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .box2 {
        width: 56vw;
        text-align: right;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        align-items: center;
        /* padding: 2rem; */
    }
    .img {
        display: flex;
        width: 30%;
    }
}

@media (max-width: 480px) {
    .box2 {
        width: 96vw;
        text-align: right;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        align-items: center;
        /* padding: 2rem; */
    }
    .copy {
        font-size: 1rem;
    }

    .siganos {
        font-size: 1.3rem;
        display: grid;
        gap: 4px;
    }
    .img {
        display: flex;
        width: 100%;
    }
    .menu {
        display: none;
        font-size: 0.3rem;
    }
}
