header {
    display: flex;
    width: 100%;
    height: 5vw;
    justify-content: space-between;
    align-items: center;
    padding-inline: 4vw;
}

.img{
    display: flex;
    width: 6vw;
}

#login{
    display: flex;
    font-size: 4vw;
}

.menu{
    display: flex;
    align-items: center;
    font-size: 50px;
    margin: 40px;
}

a{
    color: var(--button-color);
}

.container{
    background-color: #ffffff6b;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 3rem;
    width: 90vw;
    height: 75vh;
    align-items: center;
}

.box1{
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2.5rem;
}

.box2{
    width: 47vw;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10rem;
}

#tituloResumo{
    font-size: 3rem;
    
}

#txtResumo{
    font-size: 1.25rem;
    padding-top: .8rem;
    padding-bottom: 1.4rem;
}

#conteudo{
    display: flex;
    justify-content: space-around;   
}

#cadastro{
    background-color:  var(--button-color);
    width: 25vw;
    height: 8vh;
    border-radius: 1.1rem;
    font-size: 1.4vw;
    color: #fff;
    text-align: center;
    border: 0;
    transition: transform 0.3s ease, box-shadow 0.2s ease;
}

#cadastro:hover{
    pointer-events: auto;
    transform: translateY(-0.5vh);
    box-shadow: 0vh 0.5vh 0.5vh #90C1F2;
    cursor: pointer;

}

.imgMulherBot{
    display: flex;
    width: 100%;
}

i{
    display: flex;
    font-size: 150%;
}

main{
    height: 90vh;
    background-image: url(../img/rodovia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{

    
    padding: 1vw;
}

section{
    
}

.social-container{
    display: flex;
    align-items: center;
  
    gap: 60px;
}
.decoretion{
    display: grid;
    flex-direction: column;
    background-color: #90C1F2;
}
.social_container{
  
    display: flex;
    margin: 10px;
    gap: 32px;
    justify-content: start;
    
    }